div(class="row")
    strong(style="padding-left: 10px") 阅读排行
        br
    hr(class="col-lg-3 col-md-3 col-sm-3")
each item,index in readTops
    p(class="text-left")
        a(href="#{modulePath}getBlog?p=#{item.id}") #{index+1}.#{item.title}